#!/bin/sh

# xrandr configuration for the 2 external screens (HDMI and DP-USBC) with relative scales
xrandr --output eDP-1 --mode 3840x2160 --pos 7680x0 --rotate normal --scale 1x1 --output DP-1 --off --output HDMI-1 --mode 2560x1440 --pos 3840x0 --rotate normal --scale 1.5x1.5 --output DP-2 --mode 2560x1440 --pos 0x0 --rotate normal --scale 1.5x1.5 --output HDMI-2 --off
